/* Global feats */

html,
body {
  height: 100%;
  width: 100%;
  
}


/* INTRODUCTION - BONJOUR! - Blur effect */

/* General */
/* before 768 pixiel */
.dof{
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
}

	.holder{
		display: table;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
		width: 100% !important;
		z-index: 125;
	}

	.intro-body-bio{
		display: table-cell;
		vertical-align: bottom;
	}
	
/* Text part */

.title-name{
	text-align: center;
	font-family: 'Sarina';
	font-size: 38px;
	color: #2DBB9D;
}
		
			.lead{
			text-align: center;
			font-family: 'Source Sans Pro';
			color: #6D6D6D;
			font-size: 23px;
			font-weight: 300;
			
			padding: 20px 0 0 0;
		}
		
		.prettylinks{
			color: #6D6D6D;
			text-decoration: none;
		}
		
		a.prettylinks:hover{
			color: #2DBB9D;
			text-decoration: none;
		}
		
		.sociallivestyle{
			font-family: 'Source Sans Pro';
			color: #6D6D6D;
			font-size: 19px;
			text-decoration: none;
			padding-left: 10px;
			padding-top: 10px;
		}
		
		.btn-link{
			font-family: 'Source Sans Pro';
			color: #2DBB9D;
			text-decoration:none;
			font-weight: 300;
			padding-left: 5px;
			padding-right: 5px;
		}
		
		a.btn-link:hover{
			font-family: 'Source Sans Pro';
			color: #2DBB9D;
			text-decoration: underline;
		}

.btn-scrolling-dow{
	margin-top: 30px;
	margin-bottom: 40px;
	width: 100%;
	height: 40px;
	display: block;
	
	background: url('../../datas/img/global-design/scrolling-btn.svg') center center no-repeat;
}

/* Images part */
.background{
	height:100%;
}
	.cards{
		display:block;
		height:100%;
		width:100%;
		position:absolute;
		background-position:center center;
		background-position: 50% 50%;
	}
	
			.layer1{
				z-index:120;
				background:url('../../datas/img/web-display/Header/imageblur-1.jpg') no-repeat center center;
				display: table;
				
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			
			.layer2{
				z-index:119;
				background:url('../../datas/img/web-display/Header/imageblur-2.jpg') no-repeat center center;
				display: table;
				
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			
			.layer3{
				z-index:118;
				background:url('../../datas/img/web-display/Header/imageblur-3.jpg') no-repeat center center;
				display: table;

				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}

/* Display after 768 pixel */


/* Project - Nike */

/* General */
.personal-project-nike{
	background: #000000;
	height: 610px;
}

#nike{
	background: #000000 url('../../datas/img/web-display/projets/Project-nike-background.png') no-repeat center;
	background-size: auto 100%;
			
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Text */
  .title-margin{
	  padding-top: 20px;
  }

	.nike-true-logotype{
		align-content: center center;
		width: 60px;
		height: 30px;
		
		margin-bottom: 18px;
	}

	.think-nike{
		font-family:'Source Sans Pro';
		color: #FFFFFF;
		font-size: 40px;
		font-weight: 500;
	}

	.bold-nike{
		font-family:'Source Sans Pro';
		color: #FFFFFF;
		font-size: 40px;
		font-weight: 200;
	}

/* Images - myCarousel */
.carousel .carousel-inner .item .nike-design{
	width: 100%;
	height: 510px;
}



/* Project - Boobstagram */

/* General */
.personal-project-boobs{
	background: #ff8282;
	height: 610px;
}

#boobstagram{
	background: #ff8282 url('../../datas/img/web-display/projets/Project-boobstagram.png') no-repeat right;
	background-size: auto 100%;
}

/* Container text + Text */
.project-desription-boobs{
	margin-top: 170px;
}

.project-boobs-title{
	background: url('../../datas/img/web-display/projets/Project-boobstagram-title.png') no-repeat top left;
	background-size: 100%;
	width: 337px;
	height: 51px;
}

	.Boobstagram-decription{
		font-family:'Source Sans Pro';
		color: #FFFFFF;
		font-size: 23px;
		font-weight: 300;
		
		margin-top: 20px;
		margin-bottom: 30px;
	}

@media only screen and (max-width: 1170px) {
#boobstagram{
	background: #ff8282 url('../../datas/img/web-display/projets/Project-boobstagram-right1024.png') no-repeat right;
	background-size: cover 100%;
}

.project-desription-boobs{
	margin-top: 100px;
}
}

@media only screen and (max-width: 970px) {
#boobstagram{
	background: #ff8282 url('../../datas/img/web-display/projets/Project-boobstagram-right-middle.png') no-repeat right;
	background-size: cover 100%;
}

.project-desription-boobs{
	margin-top: 50px;
}
}


@media only screen and (max-width: 767px) {
#boobstagram{
	height: 700px;
	width: 100%;
	background: #ff8282 url('../../datas/img/mobile-display/projects/Project-boobstagram.png') no-repeat bottom left;
	background-size: auto 100%;
}

.project-desription-boobs{
	margin-top: 50px;
	text-align: center;
}
}

@media only screen and (max-width: 480px) {
	#boobstagram{
	height: 700px;
	width: 100%;
	background: #ff8282 url('../../datas/img/mobile-display/projects/Project-boobstagram.png') no-repeat bottom center;
	background-size: auto 70%;
	}
	
	.project-boobs-title{
		background: url('../../datas/img/web-display/projets/Project-boobstagram-title.png') no-repeat top left;
		background-size: 100%;
		width: 280px;
		height: 41px;
	}
}

@media only screen and (max-width: 320px) {
	#boobstagram{
	height: 750px;
	width: 100%;
	background: #ff8282 url('../../datas/img/mobile-display/projects/Project-boobstagram.png') no-repeat bottom center;
	background-size: auto 70%;
	}
	
	.project-boobs-title{
		background: url('../../datas/img/web-display/projets/Project-boobstagram-title.png') no-repeat top left;
		background-size: 100%;
		width: 280px;
		height: 41px;
	}
	
	.Boobstagram-decription{
		font-family:'Source Sans Pro';
		color: #FFFFFF;
		font-size: 20px;
		
		margin-top: 20px;
		margin-bottom: 30px;
	}
}


/* Project - Spotify */

.personal-project-spotify{
	background: #9ec04e;
	height: 834px;
}

#spotify-alarm{
	background: #9ec04e url('../../datas/img/web-display/projets/Project-spotify-alarm-background.png') no-repeat center bottom;
	background-size: auto 100%;
}

.project-desription-spotify{
	margin-top: 30px;
}

.project-spotify-title{
		font-family:'Source Sans Pro';
		color: #FFFFFF;
		font-size: 40px;
		font-weight: 500;
		
		margin-top: 20px;
		margin-bottom: 10px;
}

	.spotify-decription{
		font-family:'Source Sans Pro';
		color: #FFFFFF;
		font-size: 23px;
		font-weight: 300;
		
		margin-top: 20px;
		margin-bottom: 10px;
	}

@media only screen and (max-width: 1180px) {
#spotify-alarm{
	background: #9ec04e url('../../datas/img/web-display/projets/Project-spotify-alarm-background.png') no-repeat center bottom;
	background-size: auto 100%;
}
}

@media only screen and (max-width: 970px) {
#spotify-alarm{
	background: #9ec04e url('../../datas/img/web-display/projets/Project-spotify-alarm-background.png') no-repeat center bottom;
	background-size: auto 100%;
}
}

@media only screen and (max-width: 750px) {
.personal-project-spotify{
	background: #9ec04e;
	height: 740px;
}

#spotify-alarm{
	background: #9ec04e url('../../datas/img/web-display/projets/Project-spotify-alarm-background.png') no-repeat center bottom;
	background-size: auto 92%;
}
}

@media only screen and (max-width: 480px) {
.personal-project-spotify{
	background: #9ec04e;
	height: 620px;
}

#spotify-alarm{
	background: #9ec04e url('../../datas/img/mobile-display/projects/Project-spotify-aft-1.png') no-repeat center bottom;
	background-size: auto 72%;
}
}

@media only screen and (max-width: 320px) {
.personal-project-spotify{
	background: #9ec04e;
	height: 530px;
}

#spotify-alarm{
	background: #9ec04e url('../../datas/img/mobile-display/projects/Project-spotify-aft-1.png') no-repeat center bottom;
	background-size: auto 56%;
}

	.project-spotify-title{
		font-family:'Source Sans Pro';
			color: #FFFFFF;
			font-size: 40px;
			
			margin-top: 20px;
			margin-bottom: 10px;
	}

	.spotify-decription{
		font-family:'Source Sans Pro';
		color: #FFFFFF;
		font-size: 20px;
		
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
}


/* Project - Snake App */

.personal-project-snake{
	background: #f1f1f1;
	height: 610px;
}

#snake-app{
	background: #f1f1f1 url('../../datas/img/web-display/projets/Project-snake.png') no-repeat left;
	background-size: auto 100%;
}

.project-desription-snake{
	margin-top: 170px;
}

.project-snake-title{
		font-family:'Source Sans Pro';
		color: #2ad046;
		font-size: 40px;
		font-weight: 500;
	
		margin-top: 20px;
		margin-bottom: 10px;
}

	.snake-decription{
		font-family:'Source Sans Pro';
		color: #2ad046;
		font-size: 23px;
		font-weight: 300;
		
		margin-top: 20px;
		margin-bottom: 30px;
	}

@media only screen and (max-width: 1180px) {

.personal-project-snake{
	background: #f1f1f1;
	height: 580px;
}

#snake-app{
	background: #f1f1f1 url('../../datas/img/web-display/projets/Project-snake.png') no-repeat left;
	background-size: auto 90%;
}
}
@media only screen and (max-width: 1000px) {
#snake-app{
	background: #f1f1f1 url('../../datas/img/web-display/projets/Project-snake.png') no-repeat left;
	background-size: auto 85%;
}

}
@media only screen and (max-width: 970px) {

#snake-app{
	background: #f1f1f1 url('../../datas/img/web-display/projets/Project-snake-crop.png') no-repeat left;
	background-size: auto 90%;
}

}

@media only screen and (max-width: 767px) {

.project-desription-snake{
	margin-top: 40px;
	text-align: center;
}

.personal-project-snake{
	background: #f1f1f1;
	height: 580px;
}

#snake-app{
	background: #f1f1f1 url('../../datas/img/mobile-display/projects/Project-snake.png') no-repeat left;
	background-size: auto 100%;
}
}

@media only screen and (max-width: 480px) {
	
	.project-desription-snake{
	margin-top: 40px;
	text-align: center;
	}

	#snake-app{
	height: 620px;
	width: 100%;
	background: #f1f1f1 url('../../datas/img/mobile-display/projects/Project-snake.png') no-repeat bottom center;
	background-size: auto 80%;
	}

}

@media only screen and (max-width: 320px) {

	.project-desription-snake{
	margin-top: 20px;
	text-align: center;
	}

	#snake-app{
	height: 520px;
	width: 100%;
	background: #f1f1f1 url('../../datas/img/mobile-display/projects/Project-snake.png') no-repeat bottom center;
	background-size: auto 80%;
	}
	
	.snake-decription{
		font-family:'Source Sans Pro';
		color: #2ad046;
		font-size: 20px;
		
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

/* Full page image Header - Googbye */

.personal-footer{
	background: #F4F4F4;
	padding: 18px 0 18px 0;
}

.footer-sentence{
	font-family: 'Source Sans Pro';
	color: #6D6D6D;
	font-size: 16px;
	font-weight: 300;
	
	padding-bottom: 18px;
}

		.footerlinks{
			color: #6D6D6D;
			text-decoration: none;
		}
		
		a.footerlinks:hover{
			color: #2DBB9D;
			text-decoration: underline;
		}